.conteudo {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    height: 100vh;
    position: absolute;
    left: 0;
}

.info {
    width:60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #fff;
}

input {
    min-width: 250px;
    width: 58%;
    height: 2.5vh;
    background: transparent;
    border: 1px solid #999999;
    border-radius: 12px;
    font-size: 12px;
    padding: 10px;
    margin-right: 12px;
    color: #fff;
}

button {
    background: #2D333B;
    border: 1px solid #999999;
    border-radius: 12px;
    font-size: 12px;
    padding: 10px;
    margin-right: 12px;
    color:#999999;
}

.perfil {
    display: flex;
    margin:40px 0;
}

.profile {
    border-radius: 80px;
    width: 120px;
    height: 120px;
    border:2px solid #E5E5E5;
    margin-right: 32px;
}

.perfil h3 {
    display: block;
    color: #999999;
    font-size: 20px;
    margin:0;
}

.perfil span{
    color: #999999;
    font-size: 20px;
    margin: 0;
}

.perfil p {
    color: #999999;
    font-size: 20px;
    margin: 20px 0 0 0;
}

.repositorio {
    font-size: 32px;
    color:#fff;
    margin: 12px 0;
    text-align: center;
}